/*
* @Author: hanjiyun
* @Date:   2017-06-05 10:27:06
* @Last Modified by:   hanjiyun
* @Last Modified time: 2017-06-05 11:32:10
*/

/*scss-lint:disable all*/


.status-real-wrapper {
  position: relative;
  z-index: 1;
}

.open-in-new-tab {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index:1;
}

